.story
	display: flex
	justify-content: center
	height: 110px
	background-color: $blue
	
	&__wrapper
		display: flex
		flex-flow: row
		width: 1000px
		align-items: center
		justify-content: space-between

	p
		width: 500px
		color: $white
			font:
				family: 'PT+Serif'
				weight: 400
				size: 20px