.header
	display: flex
	flex-flow: row wrap
	justify-content: center
	height: 688px
	width: 100%
	background-color: $red

	&__logo

		h1
			color: $white
			@include font("Quite Chocolatey", 300, 88px)

	&__wrapper
		display: flex
		flex-flow: row wrap
		justify-content: space-between
		align-items: center
		height: 200px

	&__nav
		display: flex
		flex-flow: row
		justify-content: flex-end
		@include font("Montserrat", 400, 18px)

		li
			padding: 8px 10px
			margin-left: 10px
			color: $white

			&:hover
				background-color: $blue
				border-radius: 6px
				transition: 6ms

	&__inf
		display: flex
		flex-flow: wrap
		width: 535px
		margin: 70px 0 0 20px
		@include font("Montserrat", 300, 45px)

		h1
			color: $blue
			margin-bottom: 30px
			line-height: 80px

		p
			color: $white
			@include font("PT+Serif", 400, 25px)

		.white
				color: $white