.footer
	display: flex
	justify-content: center
	height: 200px
	background-color: $blue
	
	&__wrapper
		display: flex
		flex-flow: row
		align-items: center
		justify-content: space-between
		width: 1000px


	&__info

		h2
			color: $white
			@include font("PT+Serif", 400, 20px)

			.red
				color: $red


	&__logo

		h1
			color: $red
			@include font("Quite Chocolatey", 300, 88px)