.services
	display: flex
	flex-flow: row
	justify-content: center
	weight: 100%
	background-color: $white
	
	h1
		color: $red
		margin-top: 50px
		@include font('Montserrat', 600, 50px)

		.blue
			color: $blue

	&__wrapper
		margin-top: 70px
		display: flex
		flex-flow: row wrap
		justify-content: center

	&__box
		display: flex
		flex-flow: wrap
		justify-content: center
		width: 170px
		text-align: center
		margin: 10px 10px

		p
			margin-top: 50px
			color: $blue
			@include font('PT+Serif', 400, 20px)

	img
		height: 130px